<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
  <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
  <title>home</title>
</head>
<body class="sb-nav-fixed">
<div th:insert="../fragments/header :: header"></div>
<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="sb-sidenav-menu-heading">Interface</div>
          <a class="nav-link collapsed" th:href="@{/dashboard}" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
            <div class="sb-nav-link-icon"><i class="fa-solid fa-gauge-high"></i></div>
            Tableau de bord
          </a>
          <a class="nav-link collapsed mt-3"th:href="@{/contact/listProspect}">
            <div class="sb-nav-link-icon"><i class="fa-regular fa-address-book"></i></div>
            Prospects
          </a>
          <a class="nav-link collapsed mt-3"th:href="@{/contact/listClient/}">
            <div class="sb-nav-link-icon"><i class="fa-regular fa-address-card"></i></div>
            Clients
          </a>
          <a class="nav-link collapsed mt-3"th:href="@{/entreprises/all}">
            <div class="sb-nav-link-icon"><i class="fa-regular fa-building"></i></div>
            Entreprises
          </a>
          <a class="nav-link collapsed mt-3"th:href="@{/event/calendard}">
            <div class="sb-nav-link-icon"><i class="fa-regular fa-calendar"></i></div>
            Calendrier
          </a>
          <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
            Parametres
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
          </a>
          <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
              <a class="nav-link"th:href="@{/user/deleteUser}">Supprimer compte</a>
              <a class="nav-link"th:href="@{/user/edit}">Modifier compte</a>
              <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link"th:href="@{/user/allUsers}">Tous les utilisateurs</a>
            </nav>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div id="layoutSidenav_content">
    <main>

      <div class="row">
        <div class="col-6">
          <img th:src="${contact.picture}" alt="" class="img-fluid"/>
        </div>
        <div class="col-6">

          <div class="card">
            <div class="card-body">
              <div class="card-text">
                <div class="d-flex align-items-center">
                  <h3> <strong th:text="${contact.name} +'&nbsp'"/></h3>
                  <h3><strong th:text="${contact.firstName}"/></h3>
                </div>
                <h4 th:text=" 'Adresse email : ' + ${contact.email}"></h4>
                <h4 th:text=" 'Numéro : ' + ${contact.phone}"></h4>
                <h4 th:text=" 'Numéro de protable: ' + ${contact.cellPhone}"></h4>
                <p th:text=" 'Nom de l  entreprise : ' + ${contact.entreprise.name}"></p>
                <p th:text=" 'Secteur d activité : ' + ${contact.entreprise.typeOfActivity}"></p>
                <p th:text=" 'Numéro de téléphone de l entreprise : ' + ${contact.entreprise.phone}"></p>
                <p th:text=" 'Adresse de l entreprise : '+ ${contact.entreprise.address}"></p>
                <p th:text=" 'Complément : '+ ${contact.entreprise.additionalAddress}"></p>
                <p th:text=" 'Ville : '+ ${contact.entreprise.city}"></p>

                <p>Lien vers le détails de son entreprise</p>
                <!-- TODO -->
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalNote">
                  Passage au statut a relancer
                </button>


                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalTimeBefore">
                  Temps avant relance
                </button>

                <!-- Modal timber before relance -->
                <div class="modal fade" id="modalTimeBefore" tabindex="-1" aria-labelledby="modalTimeBefore" aria-hidden="true">
                  <form th:action="@{/echange/add/resume/timer/{id}/{idEchange} (id=${contact.id},idEchange=${contact.getEchangesById().get(contact.getEchangesById().size()-1).id})}"  method="post" th:object="${echangeForSubmit}">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Sélectionner la Durée avant passage au statut a relancer</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <input type="datetime-local" th:field="${echangeForSubmit.timeBeforeReminder}">
                        </div>
                        <div class="modal-footer">
                          <button type="submit" class="btn btn-secondary">Enregistrer la compte a rebour</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="modalNote" tabindex="-1" aria-labelledby="modalTimeBefore" aria-hidden="true">
                  <form th:action="@{/echange/add/resume/note/{id} (id=${contact.id})}"  method="post" th:object="${echangeForSubmit}">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">

                          <h5 class="modal-title">Motif pour la relance :</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <label for="textAreainputModal">Note sur l'échange</label>
                          <textarea class="form-control" id="textAreainputModal" rows="4" th:text="${echangeForSubmit.message}" th:field="${echangeForSubmit.message}"></textarea>
                        </div>
                        <div class="modal-footer">
                          <button type="submit" class="btn btn-secondary">Enregistrer note de relance</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <a  th:href="@{/contact/delete/{id}(id=${contact.id})}" class="btn btn-danger">Supprimer ce contact</a>

              </div>
            </div>
          </div>
        </div>
      </div>

      <button type="button" id="buttonShowForm" class="btn btn-info">Ajouter une note ou demarrer la prospection</button>

      <form id="formAdd" th:action="@{/echange/add/{id} (id=${contact.id})}" method="post" th:object="${echangeForSubmit}">
        <div class="row justify-content-center">
          <!--Material textarea-->
          <h3><strong th:text="'Statut actuelle : ' +${contact.getEchangesById().get(contact.getEchangesById().size()-1).statusProspecting}"/></h3>
          <div class="form-outline">
            <label for="textAreaExample1">Note sur l'échange</label>
            <textarea class="form-control" id="textAreainput" rows="4" th:text="${echangeForSubmit.message}" th:field="${echangeForSubmit.message}"></textarea>
          </div>
          <button class="w-25 btn btn-lg btn-primary my-3" type="submit">Ajouter un échange</button>
        </div>
        </th:block>

      </form>


      <th:block th:each="echange :${contact.getEchangesById()}">



        <div class="row justify-content-center">
          <!--Material textarea-->
          <h3><strong th:text="'Statut : ' +${echange.statusProspecting}"/></h3>
          <h4><strong th:text=" 'Date de création: ' +${echange.createDate}"/></h4>
          <div class="form-outline">
            <label for="textAreaExample1">Note sur l'échange</label>
            <textarea class="form-control" id="textAreaExample1" rows="4" th:text="${echange.message}
"  readonly></textarea>
          </div>
          <a  th:href="@{/echange/update/{id}/{idEchange} (id=${contact.id},idEchange=${echange.id})}" class="btn btn-warning w-25">Mettre a jour l'échange</a>
          <a  th:href="@{/echange/delete/{id}/{idEchange} (id=${contact.id},idEchange=${echange.id})}" class="btn btn-danger w-25">Supprimer l'échange</a>
        </div>
      </th:block>



    </main>
    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted">Copyright &copy; Rosa's 2022</div>
          <div>
            <a href="#">Privacy Policy</a>
            &middot;
            <a href="#">Terms &amp; Conditions</a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous">
</script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</script>
</body>
</html>