<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
  <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
  <title>home</title>
</head>

<body class="sb-nav-fixed">
<div th:insert="../fragments/header :: header"></div>
<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="sb-sidenav-menu-heading">Interface</div>
          <a class="nav-link collapsed" th:href="@{/dashboard}" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
            <div class="sb-nav-link-icon"><i class="fa-solid fa-gauge-high"></i></div>
            Tableau de bord
          </a>
          <a class="nav-link collapsed mt-3"th:href="@{/contact/listProspect}">
            <div class="sb-nav-link-icon"><i class="fa-regular fa-address-book"></i></div>
            Prospects
          </a>
          <a class="nav-link collapsed mt-3"th:href="@{/contact/listClient/}">
            <div class="sb-nav-link-icon"><i class="fa-regular fa-address-card"></i></div>
            Clients
          </a>
          <a class="nav-link collapsed mt-3"th:href="@{/entreprises/all}">
            <div class="sb-nav-link-icon"><i class="fa-regular fa-building"></i></div>
            Entreprises
          </a>
          <a class="nav-link collapsed mt-3"th:href="@{/event/calendard}">
            <div class="sb-nav-link-icon"><i class="fa-regular fa-calendar"></i></div>
            Calendrier
          </a>
          <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
            Parametres
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
          </a>
          <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
              <a class="nav-link"th:href="@{/user/deleteUser}">Supprimer compte</a>
              <a class="nav-link"th:href="@{/user/edit}">Modifier compte</a>
              <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link"th:href="@{/user/allUsers}">Tous les utilisateurs</a>
            </nav>
          </div>
        </div>
      </div>
    </nav>

  </div>
  <div id="layoutSidenav_content">
    <main>
      <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
          <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded mt-5" width="150px" th:src="${contact.picture}"><span class="text-black-50" th:text="${contact.email}"></span><span> </span></div>
          </div>
          <div class="col-md-5 border-right">
            <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h4 class="text-right"><strong>Profile contact</strong></h4>
              </div>
              <div class="row mt-2">
                <div class="col-md-6"><label class="labels">Nom</label><input type="text" class="form-control" placeholder="first name"  th:value="${contact.firstName}" readonly="readonly"></div>
                <div class="col-md-6"><label class="labels">Prenom</label><input type="text" class="form-control" value="" th:value="${contact.name}" placeholder="surname" readonly="readonly"></div>
              </div>
              <div class="row mt-3">
                <div class="col-md-12"><label class="labels">Email</label><input type="text" class="form-control" placeholder="enter email id" th:value="${contact.email}"></div>
                <div class="col-md-12"><label class="labels">Telephone portable</label><input type="text" class="form-control" placeholder="enter phone number" th:value="${contact.cellPhone}"  readonly="readonly"></div>
                <div class="col-md-12"><label class="labels">Telephone fixe</label><input type="text" class="form-control" placeholder="enter phone number" th:value="${contact.phone}"  readonly="readonly"></div>
                <div class="col-md-12"><label class="labels">Nom entreprise</label><input type="text" class="form-control" placeholder="enter address line 1" th:value="${contact.entreprise.name}"  readonly="readonly"></div>
                <div class="col-md-12"><label class="labels">Type d'activite</label><input type="text" class="form-control" placeholder="enter address line 2" th:value="${contact.entreprise.typeOfActivity}"  readonly="readonly"></div>
                <div class="col-md-12"><label class="labels">Telephone de l'entreprise</label><input type="text" class="form-control" placeholder="enter address line 2" th:value=" ${contact.entreprise.phone}"  readonly="readonly"></div>
                <div class="col-md-12"><label class="labels">Adresse de l'entreprise</label><input type="text" class="form-control" placeholder="enter address line 2" th:value="${contact.entreprise.address}" readonly="readonly"></div>
                <div class="col-md-12"><label class="labels">Complement d'adresse</label><input type="text" class="form-control" placeholder="enter address line 2" th:value="${contact.entreprise.additionalAddress}" readonly="readonly"></div>
                <div class="col-md-12"><label class="labels">Ville</label><input type="text" class="form-control" placeholder="education" th:value="${contact.entreprise.city}" readonly="readonly"></div>
              </div>
              <div class="mt-5 col-12 d-flex justify-content-between">
                <button data-bs-toggle="modal" data-bs-target="#modalValidateToCLient"  class="btn btn-info">Transformation le prospect  en client</button>
                <a  th:href="@{/contact/delete/{id}(id=${contact.id})}" class="btn btn-danger">Supprimer ce contact</a>
              </div>
              <div class="mt-5 col-12 d-flex justify-content-between">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalNote">
                  Passage au statut a relancer
                </button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalTimeBefore">
                  Temps avant relance
                </button>

              </div>
            </div>
            <div class="modal fade" id="modalValidateToCLient" tabindex="-1" aria-labelledby="modalTimeBefore" aria-hidden="true">
              <form th:action="@{/contact/update/toClient/{id}(id=${contact.id})}"  method="post" th:object="${echangeForSubmit}">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModal">Transformer le prospect en client</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-secondary">Valider</button>
                      <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Annuler</button>
                    </div>
                  </div>

                </div>
              </form>
            </div>

            <div class="modal fade" id="modalNote" tabindex="-1" aria-labelledby="modalTimeBefore" aria-hidden="true">
              <form th:action="@{/echange/add/resume/note/{id} (id=${contact.id})}"  method="post" th:object="${echangeForSubmit}">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">

                      <h5 class="modal-title">Motif pour la relance :</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <label for="textAreainputModal">Note sur l'échange</label>
                      <textarea class="form-control" id="textAreainputModal" rows="4" th:text="${echangeForSubmit.message}" th:field="${echangeForSubmit.message}"></textarea>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-secondary">Enregistrer note de relance</button>
                      <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Annuler</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal fade" id="modalTimeBefore" tabindex="-1" aria-labelledby="modalTimeBefore" aria-hidden="true">
              <form th:action="@{/echange/add/resume/timer/{id}/(id=${contact.id})}"  method="post" th:object="${echangeForSubmit}">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Sélectionner la Durée avant passage au statut a relancer</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <input type="datetime-local" th:field="${echangeForSubmit.timeBeforeReminder}">
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-secondary">Enregistrer la compte a rebour</button>
                      <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Annuler</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-4">
            <div class="p-3 py-5">
              <form id="formAdd" th:action="@{/echange/add/{id} (id=${contact.id})}" method="post" th:object="${echangeForSubmit}">
                <div class="row justify-content-center">
                  <!--Material textarea-->
                  <h4><strong th:text="'Statut actuelle : ' +${contact.statusProspecting}"/></h4>
                  <div class="form-outline">
                    <label for="textAreainput">Note sur l'échange</label>
                    <textarea class="form-control" id="textAreainput" rows="4" th:text="${echangeForSubmit.message}" th:field="${echangeForSubmit.message}"></textarea>
                  </div>
                  <button class="col-7 btn  btn-primary my-3" type="submit">Ajouter un échange</button>
                </div>
              </form>
              <th:block th:each="echange :${contact.getEchangesById()}">
                <div class="row justify-content-center">
                  <!--Material textarea-->
                  <h5 class="mt-3"><strong th:text="'Statut : ' +${echange.statusProspecting}"/></h5>
                  <h5><strong th:text=" 'Date de création: ' +${echange.createDate}"/></h5>
                  <div class="form-outline">
                    <label for="textAreaExample1">Note sur l'échange</label>
                    <textarea class="form-control" id="textAreaExample1" rows="4" th:text="${echange.message}"  readonly></textarea>
                    <div class="d-flex justify-content-around">
                      <a th:href="@{/echange/update/{id}/{idEchange} (id=${contact.id},idEchange=${echange.id})}" class="btn btn-warning">Mettre a jour l'échange</a>
                      <a th:href="@{/echange/delete/{id}/{idEchange} (id=${contact.id},idEchange=${echange.id})}" class="btn btn-danger">Supprimer l'échange</a>
                    </div>
                     </div>
                   </div>
              </th:block>
             </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted">Copyright &copy; Rosa's 2022</div>
          <div>
            <a href="#">Privacy Policy</a>
            &middot;
            <a href="#">Terms &amp; Conditions</a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous">
</script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</script>
</body>
</html>