<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
  <title>home</title>
</head>
<body>

<div class="container-fluid row">
  <div th:insert="../fragments/header :: header">
  </div>
  <main>

      <div class="row">
      <div class="col-6">
        <img th:src="${contact.picture}" alt="" class="img-fluid"/>
      </div>
      <div class="col-6">

        <div class="card">
          <div class="card-body">
            <div class="card-text">
              <div class="d-flex align-items-center">
                <h3> <strong th:text="${contact.name} +'&nbsp'"/></h3>
                <h3><strong th:text="${contact.firstName}"/></h3>
              </div>
              <h4 th:text=" 'Adresse email : ' + ${contact.email}"></h4>
              <h4 th:text=" 'Numéro : ' + ${contact.phone}"></h4>
              <h4 th:text=" 'Numéro de protable: ' + ${contact.cellPhone}"></h4>
              <p th:text=" 'Nom de l  entreprise : ' + ${contact.entreprise.name}"></p>
              <p th:text=" 'Secteur d activité : ' + ${contact.entreprise.typeOfActivity}"></p>
              <p th:text=" 'Numéro de téléphone de l entreprise : ' + ${contact.entreprise.phone}"></p>
              <p th:text=" 'Adresse de l entreprise : '+ ${contact.entreprise.address}"></p>
              <p th:text=" 'Complément : '+ ${contact.entreprise.additionalAddress}"></p>
              <p th:text=" 'Ville : '+ ${contact.entreprise.city}"></p>

              <p>Lien vers le détails de son entreprise</p>
               <!-- TODO -->
              <div th:if="${contact.getEchangesById().size()-1 > -1}">
              <!-- Button trigger modal -->
              <button data-bs-toggle="modal" data-bs-target="#modalValidateToCLient"  class="btn btn-info">Transformation le prospect  en client</button>
              <!-- Modal toClient -->
              <div class="modal fade" id="modalValidateToCLient" tabindex="-1" aria-labelledby="modalTimeBefore" aria-hidden="true">
                <form th:action="@{/contact/update/toClient/{id}(id=${contact.id})}"  method="post" th:object="${echangeForSubmit}">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModal">Transformer le prospect en client</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary">Valider</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Annuler</button>
                      </div>
                    </div>

                  </div>
                </form>
              </div>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalNote">
                Passage au statut a relancer
              </button>
              <!-- Modal -->
              <div class="modal fade" id="modalNote" tabindex="-1" aria-labelledby="modalTimeBefore" aria-hidden="true">
                <form th:action="@{/echange/add/resume/note/{id} (id=${contact.id})}"  method="post" th:object="${echangeForSubmit}">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">

                        <h5 class="modal-title">Motif pour la relance :</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <label for="textAreainputModal">Note sur l'échange</label>
                        <textarea class="form-control" id="textAreainputModal" rows="4" th:text="${echangeForSubmit.message}" th:field="${echangeForSubmit.message}"></textarea>
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary">Enregistrer note de relance</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Annuler</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>


              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalTimeBefore">
                Temps avant relance
              </button>
              <!-- Modal timber before relance -->
              <div class="modal fade" id="modalTimeBefore" tabindex="-1" aria-labelledby="modalTimeBefore" aria-hidden="true">
                <form th:action="@{/echange/add/resume/timer/{id}/(id=${contact.id})}"  method="post" th:object="${echangeForSubmit}">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Sélectionner la Durée avant passage au statut a relancer</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <input type="datetime-local" th:field="${echangeForSubmit.timeBeforeReminder}">
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary">Enregistrer la compte a rebour</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Annuler</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              </div>

              <a  th:href="@{/contact/delete/{id}(id=${contact.id})}" class="btn btn-danger">Supprimer ce contact</a>

            </div>
          </div>
        </div>
      </div>
    </div>


      <form id="formAdd" th:action="@{/echange/add/{id} (id=${contact.id})}" method="post" th:object="${echangeForSubmit}">
        <div class="row justify-content-center">
          <!--Material textarea-->
          <h3><strong th:text="'Statut actuelle : ' +${contact.statusProspecting}"/></h3>
          <div class="form-outline">
            <label for="textAreaExample1">Note sur l'échange</label>
            <textarea class="form-control" id="textAreainput" rows="4" th:text="${echangeForSubmit.message}" th:field="${echangeForSubmit.message}"></textarea>
          </div>
          <button class="w-25 btn btn-lg btn-primary my-3" type="submit">Ajouter un échange</button>
        </div>
        </th:block>

      </form>


        <th:block th:each="echange :${contact.getEchangesById()}">
          <div class="row justify-content-center">
            <!--Material textarea-->
            <h3><strong th:text="'Statut : ' +${echange.statusProspecting}"/></h3>
            <h4><strong th:text=" 'Date de création: ' +${echange.createDate}"/></h4>
          <div class="form-outline">
            <label for="textAreaExample1">Note sur l'échange</label>
            <textarea class="form-control" id="textAreaExample1" rows="4" th:text="${echange.message}
"  readonly></textarea>
          </div>
            <a  th:href="@{/echange/update/{id}/{idEchange} (id=${contact.id},idEchange=${echange.id})}" class="btn btn-warning w-25">Mettre a jour l'échange</a>
            <a  th:href="@{/echange/delete/{id}/{idEchange} (id=${contact.id},idEchange=${echange.id})}" class="btn btn-danger w-25">Supprimer l'échange</a>
          </div>
        </th:block>



  </main>
  <footer>

  </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous">




</script>
</body>
</html>