<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
  <title>Liste des entreprises</title>
</head>
<body>

<div class="container-fluid row">
  <div th:insert="../fragments/header :: header">
  </div>
  <main>

    <div class="row m-3 justify-content-between">

      <div class="col-3">
        <h1>Entreprises</h1>
      </div>

      <div class="col-3">
        <form class="d-flex" role="search" method="get" th:action="@{/entreprises/all}">
          <input class="form-control me-2" name="search" type="search" placeholder="Rechercher une entreprise" aria-label="Rechercher">
          <button class="btn btn-outline-success" type="submit">Rechercher</button>
        </form>
      </div>

    </div>

    <div class="col-5 m-3" th:each="entreprise: ${entreprises}">
      <div class="row justify-content-center">

          <div class = "card m-3">
            <h3 class="card-name text-center" th:text="${entreprise.name}"></h3>
            <div class="card-body">

              <ul class="list-group list-group-flush">

                <li class="list-group-item">
                  <img th:src="${entreprise.logo}">
                </li>

                <li class="list-group-item">
                  <div th:text="'SIRET : ' + ${entreprise.siret}"></div>
                </li>

                <li class="list-group-item">
                  <div th:text="'Email : ' + ${entreprise.email}"></div>
                </li>

                <li class="list-group-item">
                  <div th:text="'Téléphone portable : ' + ${entreprise.cellPhone}"></div>
                </li>

                <li class="list-group-item">
                  <div th:text="'Téléphone fixe : ' + ${entreprise.phone}"></div>
                </li>

                <li class="list-group-item">
                  <div th:text="'Site Web : ' + ${entreprise.urlWebSite}"></div>
                </li>

                <li class="list-group-item">
                  <div th:text="'Adresse : ' + ${entreprise.address}"></div>
                </li>

                <li class="list-group-item">
                  <div th:text="'Adresse complémentaire : ' + ${entreprise.additionalAddress}"></div>
                </li>

                <li class="list-group-item">
                  <div th:text="'Ville : ' + ${entreprise.city}"></div>
                </li>

                <li class="list-group-item">
                  <div th:text="'Code Postal : ' + ${entreprise.postalCode}"></div>
                </li>

                <li class="list-group-item">
                  <div th:text="'Type d\'activité : ' + ${entreprise.typeOfActivity}"></div>
                </li>

                <li class="list-group-item">
                  <div th:text="'Date de création : ' + ${entreprise.createDate}"></div>
                </li>

                <!--todo : aligner horizontalement les boutons-->
                <li class="list-group-item">

                  <div>
                    <a th:href="@{/entreprises/details/{id}(id=${entreprise.id})}">Prospects et clients</a>
                  </div>

                </li>

                <li class="list-group-item">

                  <!--edit-->
                  <div>
                    <form th:action="@{/entreprises/edit/{id}(id=${entreprise.id})}" method="get">
                      <button class="btn btn-secondary" type="submit">Modifier</button>
                    </form>
                  </div>

                  <!--remove-->
                  <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Supprimer
                  </button>

                  <form th:action="@{/entreprises/delete/{id}(id=${entreprise.id})}" method="post">

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Suppression de l'entreprise</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            Voulez-vous vraiment supprimer l'entreprise ?
                          </div>
                          <div class="modal-footer">

                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>

                            <button type="submit" class="btn btn-danger">Supprimer</button>

                          </div>
                        </div>
                      </div>
                    </div>

                  </form>

                </li>

              </ul>

            </div>
          </div>
        </div>

      </div>


  </main>

</div>
  <footer>

  </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous">

</script>
</body>
</html>