<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
  <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
  <title>home</title>
</head>
<body class="sb-nav-fixed">
<div th:insert="../fragments/header :: header"></div>
<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="sb-sidenav-menu-heading">Interface</div>
          <a class="nav-link collapsed" th:href="@{/dashboard}">
            <div class="sb-nav-link-icon"><i class="fa-solid fa-gauge-high"></i></div>
            Tableau de bord
          </a>
          <a class="nav-link collapsed mt-3"th:href="@{/contact/listProspect}">
            <div class="sb-nav-link-icon"><i class="fa-regular fa-address-book"></i></div>
            Prospects
          </a>
          <a class="nav-link collapsed mt-3"th:href="@{/contact/listClient/}">
            <div class="sb-nav-link-icon"><i class="fa-regular fa-address-card"></i></div>
            Clients
          </a>
          <a class="nav-link collapsed mt-3"th:href="@{/entreprises/all}">
            <div class="sb-nav-link-icon"><i class="fa-regular fa-building"></i></div>
            Entreprises
          </a>
          <a class="nav-link collapsed mt-3"th:href="@{/event/calendard}">
            <div class="sb-nav-link-icon"><i class="fa-regular fa-calendar"></i></div>
            Calendrier
          </a>
          <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
            Parametres
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
          </a>
          <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
              <a class="nav-link"th:href="@{/user/deleteUser}">Supprimer compte</a>
              <a class="nav-link"th:href="@{/user/edit}">Modifier compte</a>
              <a class="nav-link"th:href="@{/user/allUsers}">Tous les utilisateurs</a>
            </nav>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div id="layoutSidenav_content">
    <main>

      <div class="container-fluid">

        <div class="row m-3 justify-content-between">

          <div class="col-3">
            <h1>Entreprises</h1>
          </div>

          <div class="col-3">
            <form class="d-flex" role="search" method="get" th:action="@{/entreprises/all}">
              <input class="form-control me-2" name="search" type="search" placeholder="Rechercher une entreprise" aria-label="Rechercher">
              <button class="btn btn-outline-success" type="submit">Rechercher</button>
            </form>
          </div>

        </div>

        <div class="row justify-content-center">

          <div class="col-5 m-3" th:each="entreprise: ${entreprises}">


            <div class = "card m-3">
              <h3 class="card-name text-center" th:text="${entreprise.name}"></h3>
              <div class="card-body">

                <ul class="list-group list-group-flush">

                  <li class="list-group-item">
                    <img class="img-fluid" th:src="${entreprise.logo}">
                  </li>

                  <li class="list-group-item">
                    <div th:text="'SIRET : ' + ${entreprise.siret}"></div>
                  </li>

                  <li class="list-group-item">
                    <div th:text="'Email : '"></div>
                    <a th:text="${entreprise.email}" th:href="'mailto:' + ${entreprise.email}"></a>
                  </li>

                  <li class="list-group-item">
                    <div th:text="'Téléphone portable : '"></div>
                    <a th:text="${entreprise.cellPhone}" th:href="'tel:' + ${entreprise.cellPhone}"></a>
                  </li>

                  <li class="list-group-item">
                    <div th:text="'Téléphone fixe : '"></div>
                    <a th:text="${entreprise.phone}" th:href="'tel:' + ${entreprise.phone}"></a>
                  </li>

                  <li class="list-group-item">
                    <div th:text="'Site Web : ' + ${entreprise.urlWebSite}"></div>
                  </li>

                  <li class="list-group-item">
                    <div th:text="'Adresse : '"></div>
                    <a th:text="${entreprise.address} + ' ' + ${entreprise.postalCode} + ' ' + ${entreprise.city}" th:href="'https://maps.google.co.in/maps?q=' + ${entreprise.address} + ${entreprise.postalCode} + ${entreprise.city}"></a>
                  </li>

                  <li class="list-group-item">
                    <div th:text="'Adresse complémentaire : ' + ${entreprise.additionalAddress}"></div>
                  </li>

                  <!--
                  <li class="list-group-item">
                    <div th:text="'Ville : ' + ${entreprise.city}"></div>
                  </li>

                  <li class="list-group-item">
                    <div th:text="'Code Postal : ' + ${entreprise.postalCode}"></div>
                  </li>
                  -->

                  <li class="list-group-item">
                    <div th:text="'Type d\'activité : ' + ${entreprise.typeOfActivity}"></div>
                  </li>

                  <li class="list-group-item">
                    <div th:text="'Date de création : ' + ${entreprise.createDate}"></div>
                  </li>

                  <!--todo : aligner horizontalement les boutons-->
                  <li class="list-group-item">

                    <div>
                      <a th:href="@{/entreprises/details/{id}(id=${entreprise.id})}">Prospects et clients</a>
                    </div>

                  </li>

                  <li class="list-group-item">

                    <!--edit-->
                    <div>
                      <form th:action="@{/entreprises/edit/{id}(id=${entreprise.id})}" method="get">
                        <button class="btn btn-secondary" type="submit">Modifier</button>
                      </form>
                    </div>

                    <!--remove-->
                    <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Supprimer
                    </button>

                    <form th:action="@{/entreprises/delete/{id}(id=${entreprise.id})}" method="post">

                      <!-- Modal -->
                      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Suppression de l'entreprise</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              Voulez-vous vraiment supprimer l'entreprise ?
                            </div>
                            <div class="modal-footer">

                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>

                              <button type="submit" class="btn btn-danger">Supprimer</button>

                            </div>
                          </div>
                        </div>
                      </div>

                    </form>

                  </li>

                </ul>

              </div>
            </div>
          </div>

        </div>

      </div>


    </main>

    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted">Copyright &copy; Rosa's 2022</div>
          <div>
            <a href="#">Privacy Policy</a>
            &middot;
            <a href="#">Terms &amp; Conditions</a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous">
</script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</script>
</body>
</html>