<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
    <title>modify account</title>
</head>
<body>

<div class="container-fluid row d-flex flex-column justify-content-center">
    <div th:insert="../fragments/header :: header">
    </div>
    <main class="d-flex flex-column align-items-center">
        <h1>Modifier Profile</h1>
        <form action="#"
              th:object="${user}"  th:action="@{/user/edit/{id}(id=${user.id})}" method="post"
              enctype="multipart/form-data">
            <div class="form-floating my-5">
                <input type="text" class="form-control" th:field="*{email}"  id="floatingEmail" name="email" th:value="${user.email}" required  />
                <label for="floatingEmail">Entrez un email</label>
            </div>
            <div class="form-floating my-5">
                <input type="password" class="form-control" th:field="*{password}" id="floatingPassword" th:value="${user.password}" name="password" required/>
                <label for="floatingPassword">Mot de passe</label>
            </div>
            <div class="form-floating my-5">
                <input type="file" class="form-control" th:field="*{picture}" id="floatingPicture" name="password" required/>
                <label for="floatingPicture">image</label>
            </div>
            <input type="hidden" th:field="*{id}" id="id" th:value="${user.id}" name="id"/>
            <input type="submit" class="w-100 btn btn-lg btn-primary" value="Modifier compte">
        </form>
    </main>
    <footer>

    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous">
</script>
</body>
</html>